nav
{
   background-color: white;
   transition-duration: 2s;
}
a{
    transition-duration: 2s;
}
a:hover
{
    transform: scale(1.1);
}
.flower{
    padding: 0%;
    position: relative;
    left: 130px;
    top: 10px;
    margin: auto;
     transition-duration: 2s;
}
.flower:hover{
    transform: scale(1.1);
}
.title{
    position: relative;
    text-align: center;
    top: -220px;
    font-size: 70px;
    color: white;
     transition-duration: 2s;
}
.body{
    background-image: url("Backfl.jpg");
}
.About{
    text-align: center;
}
p{
   font-size: 24px;
   text-align: center;
}

/* GUYS DONT DELETE THE ON HOVER FOR THE FLOWER IMAGE */